#contenedor{
    height: 25em;
}
.intro-message{
    height: 0.1em;
    margin-top: -4em;
}
.intro-header{
    padding: 1em;
}

#resultadot{
    height: 1em;
}

.section-heading{
    color: #1b6d85;
}
#a{
    color: #1b6d85;
}
.input-group{
    width: 16.6em;
}
#botones{
    margin: 2em;
}
#exampleInputEmail1{
    width: 12em;
}
#btn{
    text-align: left;
}
#nav{
    padding: 0em 0em 0.2em 0em;
}
#logo{
    padding: 1em 0em 0em 0em;
}